<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBLayer.Properties.Settings.dm76_7ConnectionString"
            connectionString="Data Source=balder.ucn.dk;Initial Catalog=dm76_7;Persist Security Info=True;User ID=dm76_7;Password=MaaGodt"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>